[2020-10-22 11:23] chpicone opened #1 "Create QgsAlgorithm to import domains table"
Create QGIS algorithm to load domains table from Esri XML workspace definition

[2020-10-22 11:25] chpicone opened #2 "Create documentation about data migration process"
Create documentation about data migration process from geodatabase ESRI (geopackage) into PostGis.
After discussion with the customer we need to read definition of the workspace via esri XML file.
From this file we can read:
- domains with values
- tables with fields, domains and subtypes rules

[2020-10-22 12:31] chpicone opened #3 "Create QgsAlgorithm to import Feature Classes"
Create a QGIS script algorithm to import feature Classes with subtypes/domains rules into PostGIS.

[2020-10-23 10:21] randomorder opened #4 "GeoNode Installation for KRIHS"
![image](https://user-images.githubusercontent.com/5264230/96994127-850e8e00-152c-11eb-8a77-41500119921d.png)

We're going to install on 3 machines that we got acces to. In this phase we're only setting up **ONE environment** with PostgreSQL, GeoServer, GeoNode, Reverse proxy.

Machines are Red Hat Enterprise Linux Server release 7.8 (Maipo) with:
- 4 CPU Cores (Intel(R) Xeon(R) CPU E7- 2820  @ 2.

[2020-10-23 13:53] randomorder commented on #4
Unfortunately there is no tested way to install GeoNode on multiple machine on RHEL / CentOS 7+

We have to either make a regular non-dockerized installation of GeoNode or make the Dockerized solution (geonode project) work on multiple machines (it is based on docker-compose 2, never tested with docker swarm). Both approaches are "risky".
A docker based install would make it easier to set up CI bu

[2020-10-28 09:32] chpicone opened #5 "Check QGIS features to assist editing"
Check QGIS Features to assist users in the editing phase to have dropdown menu in field with domains and subtypes

[2020-10-28 09:34] simboss opened #6 "Investigate use of QGIS to ingest data in GeoNode/GeoServer directly"

[2020-10-28 09:35] chpicone opened #7 "Investigate LYR to SLD conversion"
Check some way to convert LYR Esry file for layer styling to SLD file for GeoServer

[2020-10-28 15:57] lpasquali commented on #4
I have a working environment for RedHat EL 7.8
Now I will produce documentation steps for the 3 nodes given for the project.

[2020-10-28 16:05] randomorder commented on #4
If you mean cleaning up the notes that you have that's fine.

A few questions @lpasquali:
- have you tested the setup?
- how long will it take to produce the doc? I am talking about making a PR against the GeoNode doc github repo ([here](https://github.com/GeoNode/documentation) @afabiani ?). This will be worked on After the setup for KRIHS
- ready to deploy tomorrow morning 09:30? how long will i

[2020-10-28 17:01] lpasquali commented on #4
https://docs.google.com/document/d/1KSIhsofeNk5geN2VEBIQRNxdUwdRQzO-6fxLcwR42Ss/edit#

[2020-10-28 17:06] lpasquali commented on #4
the installation plan has been documented in the project folder (see link in comment above)

Using https://files.pythonhosted.org/packages/2a/e3/bd15b7a5d0cdd8d316b051ac3e2ec180bd09d9a144e6df35733cbdc9ca82/gisdata-0.5.4.tar.gz
I uploaded and created successfully store(shape files), layers and a map in geonode

2 hours

yup!
Documentation has only to be updated with correct ip addresses and I will

[2020-10-30 15:32] lpasquali commented on #4
I'm stopping and wait as the VDI is incapable to resolve the hostnames of the 3 machines by any browser Edge,Chrome,Firefox installed (note: they are resolvable through ping in powershell from the same VDI).

[2020-10-30 15:42] randomorder commented on #4
Asked the client to fix this. Waiting for feedback

[2020-11-06 17:10] randomorder commented on #4
Fixed. We can move on with finalizing the setup

[2020-11-09 09:03] randomorder commented on #4
Please move on ASAP here @lpasquali . The proxy settings can be found from the Internet Explorer (or Edge? I don't remember) settings. Ping me if you don't find them

[2020-11-09 10:58] lpasquali commented on #4
@randomorder looks like everyhting is working I updated this document with the final application URLs:

https://docs.google.com/document/d/1KSIhsofeNk5geN2VEBIQRNxdUwdRQzO-6fxLcwR42Ss/edit#heading=h.3gf25xkf0f99

[2020-11-09 11:07] randomorder commented on #4
Thanks I'll review the Doc. Please go ahead and prepare a PR for upstream GeoNode documentation

@chpicone I think we're ready for final testing validation. Let me know if you need anything else on our side

[2020-11-09 11:13] lpasquali commented on #4
@randomorder I mounted in /mnt/data the unmounted lvm storage.

[2020-11-09 16:24] lpasquali commented on #4
@randomorder @afabiani I documented this kind of RHEL 7.x installation in this PR

https://github.com/GeoNode/documentation/pull/66

[2020-11-19 15:15] chpicone opened #8 "Algorithm to pubish data in GeoServer"
Create a QGIS algorithm to publish feature classes in GeoServer.
This script have to:
- create a store (if necessary)
- create a workspace (if necessary)
- publish (or republish) a layer
- publish a SLD style (or a LYR file after its conversion to SLD)

[2020-11-19 15:15] chpicone commented on #8
I am going to use geoserver-config library to develop this tool

[2020-11-19 17:09] chpicone opened #9 "Install QGIS+PgAdmin on the Windows Server"
Install on the Windows Server:
- [ ] QGIS 3.12.2
- [ ] PgAdmin
- [ ] Copy Geopackages and Esri xml workspaces for CONP and UNMAP

[2020-11-23 10:51] randomorder opened #10 "use extra disks attached to the krihs VMs"
Krishs's IT attached extra disks to the VMs, one each. We need to format, mount and start using these disks.

- [x] For the PostgreSQL machine the purpose of the extra disk is obvious.

- [x] For the GeoServer machine, I'd use it to store any raster or vector data that does not reside in postgresql

- [x] For the GeoNode machine I don't actually know. Any suggestion @afabiani ? it's a 200GB disk

[2020-11-23 13:53] randomorder commented on #10
remember to update the documentation

[2020-11-24 14:47] lpasquali commented on #10
@randomorder for groserver machine which is sharing via nfs /opt/data, I would make /opt/data mount  such disk

[2020-11-24 15:01] randomorder commented on #10
ok

[2020-11-24 15:49] lpasquali commented on #10
done @randomorder all disks used, updating docs

[2020-11-24 16:00] lpasquali commented on #10
done

[2020-11-24 16:03] randomorder commented on #4
please check my comment in the installation document about the deploymen diagram @lpasquali

[2020-11-24 16:07] randomorder opened #11 "create extra database on Krihs PostgreSQL instance"
This is a new requirement

We don't have a staging environment nor a data "production machine" (see proposed architecture) but we still want to have a dedicated database with dedicated role in the existing postgresql instance to allow users to publish data without impacting directly the dissemination environment.

Please
- create a dedcicated role in PG
- create a dedcicated DB in PG
- update inst

[2020-11-24 16:43] #10 closed

[2020-11-24 16:46] simboss commented on #11
@randomorder @lpasquali let's hold on this for the moment.

[2020-11-24 17:03] simboss opened #12 "Estimate and implementation plan"
I would want to start with:
1. investigation and discussion between @giohappy ad @afabiani (take into account that we want to have QGIS talk to GeoNode)
2. estimate and implementation plan

Ideally I would want to have a simple REST Interface with Authentication rather than talking to Rabbit MQ.

[2020-11-24 17:25] lpasquali commented on #11
@simboss ok, @randomorder when/if unblocked it would come handy a db name and user name for such db, or should I invent one?

[2020-11-24 17:27] randomorder commented on #11
yes

[2020-11-24 17:30] lpasquali commented on #4
@randomorder  deployment diagram added let me know if it is ok
@bermud you asked me to specify some information about postgres but any existent schema, user, password and the host are in a table little below your comment. more over what does "create buss document with the logic" mean?

[2020-11-24 17:56] simboss opened #13 "Allow external client to synch GeoServer layers via API"
We are working with QGIS to port data from geodatabase to Postgis and then GeoServer/GeoNode.

We would want to able to cover the following uses:
1. I create via QGIS a new layer in GeoServer, I want to be able also to tell GeoNode, please, configure this layer with sensible defaults for permissions, owner.  I would also set GeoNode to enable validation so that layers require an explicit step to b

[2020-11-24 18:10] chpicone commented on #8
We decided to publish a view of partitioned tables instead of the direct partitioned table

[2020-11-25 08:44] randomorder commented on #4
I reviewed the diagram @bermud
let mw know if there's anything else you think is missing

[2020-11-25 09:24] chpicone opened #15 "Unable to connect to GeoServer from Windows Server machine"
I am trying to access to geoserver from the windows server machine but I obtain error 404.

This is the URL I am trying to use:
http://dfs-ogis-03.dpko.un.org:8080/geoserver

![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/4c148911-e81e-4fda-9671-b535d26d1f86)

[2020-11-25 09:25] chpicone commented on #15
@randomorder, do I miss something?

[2020-11-25 09:29] chpicone opened #16 "Unable to install geoserver-restconfig in QGIS"
When I try to install geoserver-restconfig modulo using pip in QGIS I obtain the following error:

![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/3c76b9f1-6f4c-4c0d-9c53-888d73c7d180)

This command works correctly in our dev machines.

I have also tried to use the --trusted-host option:

 but same error

[2020-11-25 09:29] chpicone commented on #16
@randomorder do you have any suggestion for me?

[2020-11-25 09:42] randomorder commented on #15
@lpasquali GeoServer is broken
[code]

[2020-11-25 11:28] lpasquali commented on #16
@chpicone are you able to install anything at all with pip into that KRHIS VDI?
did you disable the proxy which gives problems to browse the geonode application?

[2020-11-25 11:49] chpicone commented on #16
I didnt try because it is the only thing that I need. But I think everything trying to connect to pypi.org is not reachable.
For the other question I tried using the IE browser, but at the end I need to use the georest api from QGIS

[2020-11-25 16:40] chpicone opened #17 "GeoServer is not running (?)"
I am trying to connect from Wondpws Server machine (01) to GeoServer (03):

![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/ef040f01-a147-49f1-aa1e-0894a5d8da01)

I think the GeoServer is not running, but I can see the Apache response.

@randomorder can someone take a look, please?

[2020-11-25 16:43] chpicone commented on #17
Also with this URL:

https://dfs-ogis-02.dpko.un.org/geoserver

[2020-11-25 16:51] chpicone commented on #17
In the documentation I can see:
![image](https://user-images.githubusercontent.com/2872823/100257981-d1435880-2f46-11eb-87e2-e33c6ed12daa.png)

So I suppose that I can use (for GeoServer) both machines (02 and 03). Is it correct?

[2020-11-25 17:30] randomorder commented on #17
Depends on where you are connecting from

From the VDI machine you'll get to GS from both URLs
![image](https://user-images.githubusercontent.com/5264230/100262218-20d85300-2f4c-11eb-863b-5972b0c7edf8.png)

From the new Windows machine with QGIS it needs to be tested

[2020-11-25 18:03] lpasquali commented on #15
I fixed it

when I worked on mount points I realized that something, I fear puppet, messed up with nginx uid/gid causing some troubles in /opt/data, this tyrubles were fixed but I probably forgot to restart cleanly geoserver

[2020-11-25 18:04] lpasquali commented on #16
@chpicone this is fixed right?

[2020-11-25 19:41] chpicone commented on #16
Yes I was able to install geoserver-restconfig and another dependency (gisdata) downloading them as whl and tar.gz.
I've also add a section in the document explaining how to configure them.

[2020-11-25 19:44] chpicone commented on #17
Now (I think after your work @randomorder or @lpasquali) I was able to connect to GeoServer via my QGIS tools.
I was able to load data in PostGIS and publish layers in GeoServer.

[2020-11-26 07:06] #15 closed

[2020-11-26 07:18] #16 closed

[2020-11-26 14:25] simboss commented on #12
@afabiani I see this is progress now.

Make sure whatever you come up with, you first align with @giohappy

[2020-11-27 09:09] afabiani commented on #12
So far I did some tests on GeoNode side here. Currently those are my findings:

### Exposing the `updatelayers` management command as an async task with Flower

The idea here is to create a celery task interface around the management command. GeoNode has several of those already available for a plenty of the internal management commands already. Creating such a task is very straight and won't take

[2020-12-10 15:30] chpicone opened #20 "Unable to login/use GeoServer"
When I try to login on GeoServer I always obtain a white screen.
It is possible to login using GeoNode, but from the machine 01 we are redirect to HTTP (instead of HTTPS) with error.

[2020-12-10 15:31] randomorder commented on #20
I though this was fixed @lpasquali is it a regression?

[2020-12-10 17:03] lpasquali commented on #20
@chpicone which is the url you are using?

[2020-12-10 17:12] chpicone commented on #20
I tried both:

https://dfs-ogis-02.dpko.un.org/geoserver
http://dfs-ogis-03.dpko.un.org:8080/geoserver

[2020-12-10 17:45] lpasquali commented on #20
@chpicone
for this url:
https://dfs-ogis-02.dpko.un.org/geoserver
it works with the REST auth, but with local admin I confirm it does not work, log in as an admin in geonode and then on geoserver click the "unusual button" near login, it will get you logged in for the moment.

[2020-12-10 17:47] lpasquali commented on #20
note besides the login problem:
I had to fix the JAVA_HOME, otherwise there was no way to get tomcat9 started due to upgraded of RH from the client (we need to fix geonode master documentation @randomorder)

[2020-12-11 09:36] chpicone opened #21 "Unable to add a new rule in GeoFence"
Trying to create a new rule in GeoFence to enable layers in a specific DS we obtain the following error:

![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/b4d28aae-2455-4047-a370-acd840952982)

[2020-12-11 09:44] chpicone commented on #21
In the GeoServer log we can find:

[code]

[2020-12-11 09:48] chpicone commented on #21
To bypass the error it was necessary to set the priority value as the max value + 1.

![image](https://user-images.githubusercontent.com/2872823/101888428-675dbc80-3b9e-11eb-9b55-be00c2fa55fe.png)

[2020-12-11 13:31] chpicone opened #22 "Cannot edit PostGIS table using ArcMAP"
Using ArcMap is not possible to edit features in PostGIS layers using the Database connection provided by ESRI.

Partitioned Tables are not visible from the list of available layers in the PostGIS Database Connection (in the Catalog panel), but we can add them using the Add Data button.

[2020-12-11 13:47] chpicone opened #23 "Install Data Interoperability extension in ArcMap"
in the machine dfs-ogis-01.dpko.un.org the ArcMap installation dont have enabled the Data Interoperability extension.
It is necessary to work with WFS services.

[2020-12-11 16:01] chpicone opened #24 "GeoFence raise an exception with priority 0"
When we try to create a new GeoFence rule (with priority 0 or others values already used) we obtain the following error:

![image.png](https://images.zenhubusercontent.com/5e98219c18069195a59f5217/4aeefe0b-005e-469a-ab89-8a2e1afa5d73)

We can create a rule if we use as priority for example the max(priority)+1

[2020-12-11 16:02] chpicone commented on #24
@simboss can you suggest me some dev to take a look on it?

[2020-12-11 16:35] etj commented on #24
Priority has the `unique` constraint: all the rules should be completely ordered.

Anyway [the wiki](https://github.com/geoserver/geofence/wiki/GeoFence-REST-API#insert-3) reports 3 types of RUle insertion but, for sake of simplicity of the GUI, I guess the `fixedPriority` procedure is used:

In the code I see the shift is not called if a rule with the same priority already exists, so the document

[2020-12-11 16:37] chpicone opened #25 "Test ArcGIS+PostGIS"
Test usage of ArcGID with PostGIS to:
- load layers
- edit layers

[2020-12-11 16:38] chpicone commented on #25
ArcGIS is able to read PostGIS tables, but it cannot edit them

[2020-12-11 16:45] chpicone opened #26 "Test WMS/WFS with ArcGIS"
We need to test access/editing with ArcMAP using OGC Services (WMS/WFS)

[2020-12-11 16:46] chpicone commented on #26
WMS services work perfectly.
To test WFS services we are waiting the customer to install the Data Interoperability extension in ArcGIS

[2020-12-11 16:48] chpicone opened #27 "Test WMS/WFS with ArcGIS"
We need to test access/editing with QGIS (in dissemination environment) using OGC Services (WMS/WFS)

[2020-12-11 16:49] chpicone commented on #27
QGIS can read and edit properly OGC services.

[2020-12-11 16:51] chpicone opened #28 "Test MapStore with OGC services"
Test Data dissemination data with OCG services using MapStore

[2020-12-11 16:57] chpicone opened #29 "Correct sequence value"
We found that after the data migration process the sequence of the Primary Key of each tables is 0, even if the tables contains data.
We need to align (using setval) the value of the sequence accordingly to the max valuef of the objectid filed (+1).
Otherwise when we try to add new feature (eg using WFS) GeoServer raises an exception because the violtaion of PK.

[2020-12-11 17:11] chpicone commented on #24
@etj it seems to be the behaviour in others GeoServer+GeoFence (embedded) installation. But not here in KRIHS.

[2020-12-11 17:44] chpicone commented on #24
From the GeoServer Log:

[code]

[2020-12-11 18:03] chpicone commented on #24
Probably the H2 database file is corrupted. Read [here](https://stackoverflow.com/questions/25428741/sql-query-on-h2-database-table-throws-arrayindexoutofboundsexception)

[2020-12-11 18:03] chpicone commented on #24
@randomorder I think better to use the PostgreSQL database instead of H2.

[2020-12-11 18:16] simboss commented on #24
@randomorder *never* use H2 in production installations of GeoFence, always PostgreSQL!!!

[2020-12-14 14:49] randomorder opened #31 "GetFeatureInfo Not working from Layer Previre"
from Layer Preview
![image](https://user-images.githubusercontent.com/5264230/102095468-db5cc680-3e23-11eb-9131-13b941bde48b.png)

Same request in a dedicated tab is working
![image](https://user-images.githubusercontent.com/5264230/102095503-e44d9800-3e23-11eb-9a55-aed46f74b2cb.png)

[2020-12-14 15:12] randomorder opened #32 "Migrate GeoFence DB to PostgreSQL"
Currently using H2 and the GS rules DB is broken. For production environments we always want to use PostgreSQL instead and it makes sense.

We want to make sure [the upstream documentation](https://docs.geonode.org/en/master/install/advanced/core/) for RHEL and Ubuntu are using PG and double check that the [geonode-project is indeed using it](https://github.com/GeoNode/geonode-project/blob/master/

[2020-12-14 15:15] randomorder commented on #32
To migrate the rules: `manage.sh sync_geonode_layers --updatepermissions`

You want to double check the rules with @chpicone after you ran this

[2020-12-15 10:44] lpasquali commented on #20
@randomorder I think I found (or rather for now circumscribed as is not solved) the poroblem, there is actually no error in geoserver, security rules are impeding the connection to /geoserver/web/** for local admin somehow but not for geonode one so there is some kind of misconfiguration:
[code]
more over REST is working for local admin:

[code]

[2020-12-15 11:32] randomorder commented on #20
are you referring to this
`2020-12-15 10:26:17,785 DEBUG [geoserver.monitor] - /geoserver/web/ was filtered from monitoring` ?
that's monitor configuration for auditing saying "I'm not going to log this in audit files"

you may want to ask @afabiani to check GS/GN security conf with you

[2020-12-15 11:38] lpasquali commented on #20
that is a full stack of logs upon a login request, I would more point on everything with [*security*] @randomorder, but yes I agree with you and I would like to seek the help of @afabiani on this.

@afabiani  would you mind to check why security rules for geonode admin user are colliding with local admin user?

[2020-12-15 12:01] lpasquali commented on #20
@afabiani please ignore the help request above I fixed it, but anyway there was something strange

I started a geonode under docker-compose, and checked default security configuration for it, theree was a difference for "webLogin" having enabled "no security":
![Screenshot from 2020-12-15 12-58-59](https://user-images.githubusercontent.com/1780406/102212338-57631700-3ed5-11eb-9f04-72fc2bfdaf7f.png

[2020-12-15 14:48] lpasquali commented on #32
just a note here:
- we checked during sync yesterday and geonode-project is using postgres for GeoFence
- "[core](https://docs.geonode.org/en/master/install/advanced/core/)" documentation does not use postgres for GeoFence and needs to be fixed

[2020-12-15 16:50] lpasquali commented on #32
@randomorder
I edited the datasource (which was an empty file) using this [file](https://github.com/GeoNode/geonode-project/blob/master/docker/geoserver/templates/geofence/geofence-datasource-ovr.properties.j2) as a template:
[code]

when I restart geoserver it does not start and it is really obscure to me why it complains about :

[code]

[2020-12-15 17:05] randomorder commented on #32
Hi @lpasquali
please add these to geoserver webapp
https://build.geo-solutions.it/geonode/geoserver/latest/hibernate-spatial-postgis-1.1.3.1/hibernate-spatial-postgis-1.1.3.1.jar
https://build.geo-solutions.it/geonode/geoserver/latest/postgis-jdbc-1.3.3/postgis-jdbc-1.3.3.jar

(see https://osgeo-org.atlassian.net/jira/core/projects/GEOS/issues/GEOS-9548)

[2020-12-15 17:18] lpasquali commented on #32
@randomorder many thanks! I'm syncing layers

[2020-12-15 17:30] lpasquali commented on #32
@chpicone could you check if everything went ok for you?

[code]

![Screenshot from 2020-12-15 18-30-17](https://user-images.githubusercontent.com/1780406/102250255-9f992e00-3f03-11eb-809d-07cf1aecab70.png)

[2020-12-16 08:05] chpicone opened #33 "Create a QGIS tool to synchronize GeoServer Layers in GeoNode"
We need to create a QGIS tool to call a GeoNode API to synchronize a specific layer already published in GeoServer.

[2020-12-16 08:07] chpicone commented on #33
@bieganowski can you provide us link to documentation of the API to synchronize a published layer in GeoServer with GeoNode?

[2020-12-16 08:13] chpicone commented on #32
@lpasquali I am going to check it. I am not sure why we have 325 rules!!!

[2020-12-16 08:15] bieganowski commented on #33
@chpicone I don't think I can understand what you mean... I have no clue about the synchronization of the layers between Geoserver and Geonode...
regarding the API itself, there is no documentation, other than [django-http-commands](https://github.com/geosolutions-it/django-http-commands) Readme and the design [doc](https://docs.google.com/document/d/1awFpCH3oapN_S7s3rL4Ulhnab0-yoPP9FHffwIYNFNc/ed

[2020-12-16 09:56] chpicone commented on #33
@giohappy can you provide to @bieganowski some information?

[2020-12-16 10:06] giohappy commented on #33
@bieganowski the command for importing / updating Geoserver layers into GeoNode is [updatelayers](https://training.geonode.geo-solutions.it/004_admin_workshop/002_admin_mgmt_commands/index.html#updatelayers).

@chpicone since this PoC adopts a sync execution we should run the command layer by layer to avoid timeouts.

one more thing @chpicone we need to authenticate the user the authorize the comm

[2020-12-16 10:08] chpicone commented on #33
@giohappy thx.
We are going to create a tool to make the request so we can also ask the user to provide this information as parameters of the tool (or to specify the token)

[2020-12-16 10:14] giohappy commented on #33
@chpicone I think using basic auth is preferable. The access_token solution is most a hack then a proper solution...

[2020-12-16 10:25] chpicone commented on #33
@giohappy yes for sure. It is the same for us in terms of implementation.

[2020-12-16 10:51] lpasquali commented on #32
@chpicone I think I had that same number also in the h2 db before the switch

[2020-12-16 13:43] mattiagiupponi commented on #33
@chpicone a skeleton of the qgis script in order to call an api is ready in the branch `task/geonode_publisher`.
As i said is a skeleton, onces the API is ready, we can improve it by adding all the information needed like (json structure, endpoint, username/password for basic auth, ecc...)

[2020-12-16 14:48] bieganowski commented on #33
@mattiagiupponi as discussed above - to update the layers you'll have to use API provided by `django-http-commands` app, which exposes management commands.
Generally the easiest way to do it:
In the admin panel `Management commands` set the command you want to use as `exposed`, and `POST /api/v2/management/<command>`, optionally with `application/json` body:
[code]
Please note, that an argument sh

[2020-12-16 16:16] chpicone opened #34 "Introduce the usage of QGIS Auth Manager"
Introduce the usage of QGIS Authentication Manager in the following tools:
- GeoServer publisher
- GeoNode publisher

[2020-12-16 16:19] chpicone opened #35 "Fix: delete of a layer considering its workspace"
In the GeoServer publisher tool currently to update a layer in GeoServer, we remove it and then we publish again.
We need to check if we remove correctly the layer from the specific workspace.
We need to investigate because I think the current code try to remove a layer by name in the whole catalogue and not just in the specific workspace.

A useful test could be to publish 2 layers (with the same

[2020-12-17 17:16] mattiagiupponi commented on #33
@chpicone Script and model are ready in the branch for QGIS testing.
The request made by the script is this one:

[code]

[2020-12-21 08:51] #35 closed

[2020-12-21 08:55] #33 closed

[2020-12-21 08:55] #34 closed

[2020-12-21 13:56] randomorder commented on #31
what's the status of this one @lpasquali ?

[2020-12-22 20:44] chpicone opened #39 "GeoServer: Install the new postgis jdbc library to fix issue with partitioned table"
To fix issue with partitioned table in GeoServer we need to get the library **gt-jdbc-postgis-<version>.jar** from the nightly build (starting tomorrow) and put in the GeoServer in the customer environment.
To test it from the KRIHS store now we should have available also partitioned tables (eg **unac_conop_cogi_operations_p**).

[2020-12-22 20:47] chpicone opened #40 "Update GeoNode with the version supporting REST API"
Update GeoNode in the customer environment supporting the new REST API.

[2020-12-22 20:49] chpicone commented on #40
The GeoNode project is [here](https://github.com/geosolutions-it/krihs-geonode)

[2020-12-22 20:52] chpicone commented on #21
Using PostgreSQL instead of the H2 database solved the problem.
@randomorder I am going to close this issue.

[2020-12-22 20:52] #21 closed

[2020-12-22 20:56] chpicone opened #41 "Update the GeoServer publisher tool in QGIS"
To bypass the problem to publish partitioned tables in GeoServer the QGIS tool to publish layers creates an sql view in the datbase then publish it.
We need to remove this part (no SQL view is necessary) and to publish directly the tables.

To test it in our local geoServer it is necessary to fix GeoServer with the library gt-jdbc-postgis-XXX.jar(see [this issue](https://github.com/geosolutions-it

[2021-01-07 09:20] lpasquali commented on #31
@randomorder I think I found the issue (which is still recurring) X-Frame-Options for nginx must be tweaked to allow sameorigin I suspect it is on DENY, anyway it is an easy thing to fix I think.

[2021-01-11 15:21] chpicone opened #43 "GeoNode with OAuth2"
Explain how to configure GeoNode for OAuth2 authentication

[2021-01-11 15:22] chpicone opened #44 "AOL: Test Data dissemination"
Test Data Dissemination data access with AOL (with their ArcGIS/AOL Enterprise licenses)

[2021-01-11 15:27] chpicone opened #45 "GeoNode/GeoServer: consume MVT layers"
We have to check if GeoNode/GeoServer can consume MVT layers.
They have an example project here: https://github.com/ubukawa/vt-test

Notes from the customer:

- The projection is the default projection for the webmapping (web Mercator.)
- They are from Natrual Earth data base, which is the public domain.
- There are polygon, line, points layer. The point data is used for annotation.
- The style.js

[2021-01-11 17:12] chpicone commented on #40
@lpasquali can you work on it?
If it is necessary you can ask the support of @bieganowski

[2021-01-11 17:12] chpicone commented on #39
Can you work on it?

[2021-01-12 10:05] chpicone commented on #28
Tests are done using bndl25 layer from the KRHIS database.
Documentation is available in the main document [here](https://docs.google.com/document/d/1VE4IPn0-JcM4EyqJnkgA2SmBxoGQFUe1aE-HT3piC6k/edit?usp=sharing)

[2021-01-13 12:50] lpasquali commented on #31
![Screenshot from 2021-01-13 13-33-48](https://user-images.githubusercontent.com/1780406/104452980-0746a580-55a4-11eb-8523-800bdb2a4bec.png)
Looks like it is working now, I modified and documented the configuration both in the [document](https://docs.google.com/document/d/1KSIhsofeNk5geN2VEBIQRNxdUwdRQzO-6fxLcwR42Ss/edit#heading=h.aaobrpm114d8) and in the nginx.conf file itself referencing this is

[2021-01-13 14:06] lpasquali commented on #40
@chpicone @randomorder
I see the repository is a Geonode project.

this 3 machines cluster [here](https://docs.google.com/document/d/1KSIhsofeNk5geN2VEBIQRNxdUwdRQzO-6fxLcwR42Ss/edit#heading=h.aaobrpm114d8) is just "geonode" and it was installed like this:
[code]
I am not 100% sure on how to go on with this dockerized project on this bare metal cluster where:
dfs-ogis-02.dpko.un.org is geonode
dfs

[2021-01-13 15:48] lpasquali commented on #39
done @chpicone

[2021-01-13 15:51] lpasquali commented on #39
updated docs @randomorder

[2021-01-13 16:23] lpasquali commented on #39
reopened, not working sorry.

[2021-01-13 17:12] lpasquali commented on #40
@chpicone @bieganowski
after setting up everything I'm getting this problem doing migrations:

[code]

[2021-01-14 07:38] bieganowski commented on #40
I'm not sure why, but it behaves as if `DATABASE_URL` envvar were not exported, pointing at the default 'SQLite` database - and django protests against missing spatial extension in this database

[2021-01-14 12:10] lpasquali commented on #40
@bieganowski @chpicone @afabiani
Taking local_settings.py from here: https://github.com/geosolutions-it/geonode/blob/django_api_cmds_integration/geonode/local_settings.py.geoserver.sample

and then configuring it with database parameters, I was able to: makemigrations,migrate,collectstatic, updatelayers

GeoNode is updated, but I had a problem, which I do not think there was before, to download an

[2021-01-14 12:13] lpasquali commented on #40
@chpicone when you will test geonode (or who will test it for you) remember that the proxy in the windows VDI has to be not disabled (or external downloads as openstreetmap backgrounds will not work)
to have both the url working and internet connectivity it is to be added this line:

[code]
here:
![image](https://user-images.githubusercontent.com/1780406/104589636-7981bd80-566a-11eb-9239-1d4e49a09

[2021-01-14 12:43] lpasquali commented on #39
@chpicone I fixed this someone in the past installed these libraries only in the deployed directory of the war:

407 2020-12-15 18:14:07 wget --no-check-certificate https://build.geo-solutions.it/geonode/geoserver/latest/hibernate-spatial-postgis-1.1.3.1/hibernate-spatial-postgis-1.1.3.1.jar
408 2020-12-15 18:14:18 wget --no-check-certificate https://build.geo-solutions.it/geonode/geoserver/latest

[2021-01-14 13:12] lpasquali commented on #40
there still was a small problem preventing any static file to be server due to the change in the module name because for genode core is "geonode" but for a project is "project_geonode" in our case "krihs_geonode"

[2021-01-14 14:57] lpasquali commented on #40
updated documentation for geonode upgrade from core to project and the geoserver jar additions done in #39

[2021-01-15 09:04] #41 closed

[2021-01-15 14:37] chpicone opened #48 "Customize GeoNode"
For this project the customer asked to customize GeoNode.
He provided a mockup with the attached powerpoint:
[https://app.zenhub.com/files/306309835/a675f8e2-97d7-425b-91c8-787088948a76/download](https://app.zenhub.com/files/306309835/a675f8e2-97d7-425b-91c8-787088948a76/download)

[2021-01-15 14:40] chpicone commented on #43
OAuth token provided by Gakumin:
**AppID**: j9oPoi97hahhZgfZ
**App Secret**: b62aa852a9034890a893dcc3255d050b

[2021-01-18 13:38] randomorder commented on #11
moving back to backlog

[2021-01-18 13:43] simboss commented on #11
I'd close it

[2021-01-18 13:43] #11 closed

[2021-01-18 14:57] chpicone opened #49 "GeoServer: enable CORS"
We need to configure GeoServer in the KRIHS environment to accept CORS requests.

[2021-01-18 15:36] #32 closed

[2021-01-18 15:36] #20 closed

[2021-01-18 15:36] #31 closed

[2021-01-18 15:37] #4 closed

[2021-01-18 15:37] #39 closed

[2021-01-18 15:37] #40 closed

[2021-01-20 10:02] chpicone opened #50 "GeoServer: enable CORS"
We need to configure GeoServer to enable CORS.
In this way we can proceed with AOL tests.

[2021-01-20 11:29] randomorder commented on #49
please take a look @lpasquali . Should be pretty straightforward

[This](https://docs.google.com/document/d/1IDlLocXuP2wn73FECeT_A2pS8KB2qUD0ZbnSgnqsBdA/edit#bookmark=id.p5kpbklt9di8) is what we did for Terradex...

[2021-01-20 14:35] lpasquali commented on #49
@randomorder
I applied the configuration used for terradex to https://dfs-ogis-02.dpko.un.org looks like it is working

[2021-01-20 15:31] chpicone commented on #49
@lpasquali I will try but I think they have different configuration for AOL (AG Enterprise).
Is it possible to grant permission to any (*) domains?

[2021-01-20 15:43] randomorder commented on #49
I don't think "cors.support.credentials" can be set to true with "*"

[2021-01-20 15:44] randomorder commented on #49
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials

[2021-01-25 11:42] simboss commented on #48
@allyoucanmap, can you look into preparing a customization for these guys using GeoNode templates?
See the attached document for what they are looking for. We need to sum up between the various example and prepare something decent.

I would use top 2 days for all this work.

[2021-01-25 11:43] simboss commented on #48
@allyoucanmap ask information to @chpicone about where the code is and so on.

[2021-01-25 11:45] simboss commented on #48
@allyoucanmap in the process, can you update geonode documentation for customizing the L&F via the template?
This could be done in conjuction of an internal document that describes the whole process in more details while referring to the public doc!

[2021-01-27 09:02] chpicone commented on #49
The customer sent me an email with this information:

@randomorder, can we use the wildchar (*) in these cases?

[2021-01-27 09:51] chpicone opened #51 "Update GeoNode with their customization"
We need to update GeoNode with the grafichal customization.

[2021-01-29 08:11] randomorder commented on #49
please take a look asap @lpasquali

[2021-01-29 08:12] randomorder commented on #51
this is still blocked right @chpicone ?

[2021-01-29 08:44] lpasquali commented on #49
@randomorder @chpicone

given such information, if wildcards are supported I think *.un.org will include *.dfs.un.org

I would try to use the tomcat way already applied and see if this works, alternatively, I have a backup plan that something  like this in nginx:
[code]

[2021-01-29 09:04] lpasquali commented on #49
@chpicone @randomorder
![image](https://user-images.githubusercontent.com/1780406/106254282-d9569780-6218-11eb-9f2a-89eb9caaae44.png)

the dfs-ogis-02 machine is down, it's the geonode machine but also the nginx endpoint, I'm quite stuck until it's up ad running.
Logging in I saw that the old putty session reported a console message that the machine was being rebooted.

[2021-01-29 09:08] chpicone commented on #49
@lpasquali Is it necessary to write UN to have support?

[2021-01-29 10:29] lpasquali commented on #49
@chpicone thanks for contacting them (as we chatted short wile ago), let me know when they have done, so I can move forward.

[2021-01-29 11:15] chpicone commented on #49
@lpasquali yes of course.

[2021-01-29 11:36] chpicone commented on #51
unfortunately yes @randomorder

[2021-01-29 12:31] chpicone commented on #49
@lpasquali can you check? They wrote me that it is up & running now.

[2021-01-29 13:58] lpasquali commented on #49
@chpicone it's up it seems, getting on this in around 30 minutes.

[2021-01-29 17:37] lpasquali commented on #49
added

[code]

removed configuration for CORS in tomcat

@chpicone let me know if this works

[2021-02-01 10:25] chpicone commented on #49
@lpasquali unfortunately it does not work. But the problem I think it is on the AOL side.
They havent added our GeoServer as trusted server in AOL.
I still see (in the browser) that the requests are using the AOL proxy instead of using direct URL to GeoServer.
I wrote an email to them... waiting!

[2021-02-01 13:32] simboss commented on #48
@chpicone do you need anything else from @allyoucanmap.

[2021-02-01 13:34] simboss commented on #48
@allyoucanmap please, open a google doc inside the project folder with your feedback on the ability to customize GeoNode L&F VS the current capabilities.

Link it here.

[2021-02-01 13:35] simboss opened #52 "Document process to customize L&F beyond basics"
Using the work done for Krihs as a reference we shall prepare proper internal documentation to guide other front-end developers on how to do the same.

[2021-02-01 13:44] chpicone commented on #48
@simboss I asked @allyoucanmap to make a PR with the solution with counters in the Categories list.

[2021-02-01 16:31] lpasquali commented on #49
@chpicone please check again, I tried another way in tomcat

[2021-02-01 16:42] chpicone commented on #49
@lpasquali ok. Iam going to check again

[2021-02-01 17:12] chpicone commented on #49
It works. I'll close this issue

[2021-02-01 17:12] #49 closed

[2021-02-01 17:58] allyoucanmap commented on #48
@chpicone @simboss here the final PR with the customization https://github.com/geosolutions-it/krihs-geonode/pull/4

[2021-02-03 08:44] #48 closed

[2021-02-03 08:49] chpicone commented on #51
We can proceed with the upgrade on the UN environment.
Please @lpasquali talk with @allyoucanmap after the installation to configure the required GeoNode categories:
- Boundaries
- Risk
- Presence
- Others
- Operation

[2021-02-03 08:51] chpicone commented on #44
I completed the tests with AOL and wrote a chapter in the [documentation](https://docs.google.com/document/d/1VE4IPn0-JcM4EyqJnkgA2SmBxoGQFUe1aE-HT3piC6k/edit#heading=h.6vhsldr2z6h5).

[2021-02-03 08:51] #44 closed

[2021-02-03 17:05] lpasquali commented on #51
@chpicone should I update from "main" branch as usual?

[2021-02-03 17:16] chpicone commented on #51
Yes, this branch should contain the required customization.
Please, contact @allyoucanmap if you have any doubts.

[2021-02-04 11:19] lpasquali commented on #51
@chpicone geonode has been updated, I'm going to fix a bit the documentation because applying the custom themes reveleaed some config issues
categories have been created and are seen with correct icon

[2021-02-04 13:31] chpicone commented on #51
OK, thx @lpasquali. I'll put the issue in review.

[2021-02-08 14:26] chpicone commented on #43
@afabiani I will assign you this ticket.
After the call meeting, I think you have all the required information to test it, right?

[2021-02-09 09:15] chpicone commented on #51
@lpasquali I checked their GeoNode but someting is wrong.
For example we cannot see the categories of the datasets:
![image](https://user-images.githubusercontent.com/2872823/107341843-c9b03c00-6abf-11eb-8f78-01379f47d15f.png)

[2021-02-09 09:18] chpicone commented on #51
We expect this:
![image](https://user-images.githubusercontent.com/2872823/107342011-011ee880-6ac0-11eb-8d2a-30635c803aa7.png)

@allyoucanmap @lpasquali wrote that all the categories were created but we cannot see them. Do we still need to do something?

[2021-02-09 10:02] #17 closed

[2021-02-09 10:03] chpicone commented on #51
We already have the required categories.
It was necessary to assign some layers to a category to see it in the home page (the same for the featured datasets).

[2021-02-09 12:27] lpasquali commented on #51
docs updated

[2021-02-11 08:49] chpicone commented on #43
@afabiani as discussed in the skype chat this the documentation we need to implements their requirements:
[https://docs.microsoft.com/it-it/azure/active-directory/develop/v2-protocols-oidc](https://docs.microsoft.com/it-it/azure/active-directory/develop/v2-protocols-oidc)

[2021-02-26 13:41] allyoucanmap commented on #52
@simboss here the document https://docs.google.com/document/d/1QwboFFXnK8xsED1WWAQ1jUGQ2HxjdxL-lOlY_Qu9L58/edit?usp=sharing

[2021-02-26 13:47] simboss commented on #52
thx @allyoucanmap

[2021-02-26 14:04] #51 closed

[2021-05-18 09:46] chpicone opened #53 "GeoNode, GeoServer SSO via Azure"
UN is aking to have:
- GeoNode configured to use Azure SSO
- GeoServer configured to use Azure SSO
The functionality will be tested when users are in AOL and tries to access or edit a layer in GeoNode/GeoServer.

We have to add details in the following document:
[https://docs.google.com/document/d/1ELXB03HECxVB5K1wE3xjA0yAaVKXHSIuQEBJWNS_THk/edit#](https://docs.google.com/document/d/1ELXB03HECxVB5